#Overskrift {
    text-align: center;
    font-size: 4vh;
}

#genererHex {
    width: 8vw;
    height: 4vh;
    background-color: rgb(160, 160, 160);
    color: white;
    font-size: 1.7vh;
    border-radius: 5px;
    border-width: 0.11vw;
    border-color: black;
}

#hexcodegjettet {
    margin-top: 10vh;
    border-radius: 5px;
    border-width: 0.11vw;
    border-color: black;
    display: none;
}

#colorDisplay {
    margin: auto;
    background-color: rgb(236, 236, 236);
    width: 11vw;
    height: 22vh;
    border-radius: 30px;
}

#KnappogHexBoks {
    text-align: center;
    margin-top: 23vh;
}

#tidligereForsok {
    width: 14vw;
    height: 40vh;
    margin-left: auto;
    margin-right: 6vw;
    margin-top: -45vh;
    border-radius:10px;
    border-width: 1vw;
    border-color: black;
    background-color: rgb(243, 243, 243);
    padding: 2px;
}

.tidligereforsoktekst{
    text-align: center;
}

#hexcolorgjett {
    width: 14vw;
    height: 34vh;
    border-radius:10px;
    white-space: pre-line;
}