#Heading {
    text-align: center;
    font-size: 4vh;
}

#generateHex {
    width: 8vw;
    height: 4vh;
    background-color: rgb(128, 86, 86);
    color: white;
    font-size: 1.7vh;
    border-radius: 5px;
    border-width: 0.11vw;
    border-color: black;
    margin-top: 2vh;
}   

#guessButton {
    width: 8vw;
    height: 4vh;
    background-color: rgb(85, 117, 89);
    color: white;
    font-size: 1.7vh;
    border-radius: 5px;
    border-width: 0.11vw;
    border-color: black;
}

#guessedHex {
    margin-left: 0.4vw;
    border-radius: 5px;
    display: none;

}

#colorDisplay {
    margin: auto;
    background-color: rgb(236, 236, 236);
    width: 11vw;
    height: 22vh;
    border-radius: 30px;
    margin-bottom: 8vh;
}

#ButtonAndHexBox {
    text-align: center;
    margin-top: 23vh;
}

#previousAttempts {
    width: 13vw;    
    height: 40vh;
    margin-left: 80%;
    margin-top: -20%;
    border-radius:10px;
    border-width: 1vw;
    border-color: black;
    background-color: rgb(243, 243, 243);
    padding: 2px;
    position: fixed;
    padding: 10px;
}

.previousAttemptText {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#closestAttempt {
    width: 13vw;    
    height: 10vh;
    margin-left: 80%;
    margin-top: -27%;
    border-radius:10px;
    border-width: 1vw;
    border-color: black;
    background-color: rgb(243, 243, 243);
    padding: 2px;
    position: fixed;
    padding: 10px;
}

.closestAttemptText{    
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#closests {
    font-weight: bold;
}

#guessedColorDisplay {
    width: 14vw;
    height: 34vh;
    border-radius:10px;
    white-space: pre-line;
    font-weight: bold;
}

#helpBox {
    width: 24vw;    
    height: 10vh;
    margin-left: 69.2%;
    margin-top: 3%;
    border-radius:10px;
    border-width: 1vw;
    border-color: black;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    position: fixed;
    padding: 10px;
}

#help div {
    font-weight: bold;
    display: inline-block;
    margin-top: 17px;
    margin-right: 15px;
}

.charDiv {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightcoral;
}
.input-container {
    margin-left: 45%;
    display: flex;
    align-items: center;
}
.hash-box {
    height: 20px;
    width: 20px;
    padding: 2px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: bold;
}
.guess-input {
    height: 20px;
    width: 10%;
    padding: 2px;  
    border-radius: 5px;
}

.charContainer {
    position: relative;
}

.caret {
    position: absolute;
    width: 20px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.caret.above {
    top: -20px;
}

.caret.below {
    bottom: -20px;
}

/* Logging siden */

#loginbutton {
    text-decoration: none;
    background-color: white;
    border-radius: 1px;
    width: 70px;
    height: 30px;
}


#brukernavnInput {
    width: 13%;
    height: 30px;
    margin-left: 44%;
    margin-top: 15%;
}

#passordInput {
    width: 13%;
    height: 30px;
    margin-left: 44%;
    margin-top: 8px;
}

#logginknapp {
    width: 110px;
    margin-left: 47.8%;
    margin-top: 8px;
    background-color: rgb(165, 165, 255);
    border-color: rgba(0, 0, 0, 0.37);
}

#registrerHer {
    margin-left: 45%;
}

#tilbakeKnapp {
    margin-left: 47%;
}

/* Registrer siden */

#brukernavnReg {
    width: 13%;
    height: 30px;
    margin-left: 44%;
    margin-top: 15%;
}

#passordReg {
    width: 13%;
    height: 30px;
    margin-left: 44%;
    margin-top: 8px;
}

#epostReg {
    width: 13%;
    height: 30px;
    margin-left: 44%;
    margin-top: 8px;
}

#regKnapp {
    width: 110px;
    margin-left: 47.8%;
    margin-top: 8px;
    background-color: rgb(165, 165, 255);
    border-color: rgba(0, 0, 0, 0.37);
}

#tilbakeKnapp {
    margin-left: 47%;
}

